#entrada {

}




#titulo1 {
    color: greenyellow;
    text-align: center;
}
#titulo2 {
    color: greenyellow;
    text-align: center;
}
.ejemplo {
    padding: 5px;
    margin: 30px auto;
    min-width: 500px;
    max-width: 900px;
    background-color: greenyellow;
    border: 3px groove orange;
    color: black;
    font-size: 1.2em;
    font-weight: bolder;
    align-content: center;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 25px white;
}
.ejemplo P {
    color: black;
}
.barraEstadistica {
    float: right;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 15px;
    border: 2px solid black;
    text-align: left;
    background-color: dimgray;
}
.barraEstadistica IMG {
    padding: 0;
    margin: 0;
    height: 15px;
    text-align: left;
    vertical-align: top;
    border: 0;
}
#tituloResultado {
    font-size: 2.2em;
    color: red;
    text-shadow: 1px 1px 3px black;
}
#ResultadoBase {
    overflow-x: scroll;
    margin: 10px auto;
    width: 90%;
    min-height: 100px;
    font-size: 1.6em;
    color: yellow;
    background-color: dodgerblue;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 5px 5px 5px black;
}
#botoncalcultar {
    margin: 15px;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 1.3em;
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
    background-color: dimgrey;
    border: 2px groove orange;
    border-radius: 5px;
    box-shadow: 5px 5px 8px black;
}
#botoncalcultar:hover {
    cursor: pointer;
    color: black;
    background-color: orange;
    border: 2px groove dimgrey;
    box-shadow: -5px -5px 8px black;
}
SELECT OPTION {
    color: red;
    text-align: center;
    font-weight: bolder;
    background-color: white;
    border-top: 1px solid black;
}
